@charset "UTF-8";

::-webkit-scrollbar {
  -webkit-border-radius: 100px;
  background-color: rgba(0,0,0,0);
  width: 9px;
}
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border: 1px solid rgba(255,255,255,0.4);
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 100px;
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb {
  border: solid transparent;
  border-width: 1px 1px 1px 6px;
  min-height: 28px;
  padding: 100px 0 0;
  -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1), inset 0 -1px 0 rgba(0,0,0,.07);
}
::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

body {
  margin: 0px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: sans-serif;
  font-variant: normal;
  color: #e4e4e4;
  font-weight: 400;
  min-height: 3000px;
}

.back-img {
  width: 100%;
  height: 983px;
  background-image: url("background.png");
  background-color: rgba(0, 0, 2, 1);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -1;
  background-image: url('back.png');
  background-repeat: no-repeat;
}

.navigation {
  height: 56px;
  background: transparent;
  padding-left: 16px;
  position: fixed;
  top: 0;
  width: 100%;
  transition: opacity .5s, padding-left .125s;
}

.sticky {
  background: #1e1e1e;
}

.nav-container {
  min-width: 100%;
  table-layout: fixed;
  height: 56px;
}

.brand {
  max-width: 380px;
  height: 46.5px;
  white-space: nowrap;
  float: left;
  margin: 1px 0px;
}
.brand a,
.brand a:visited {
  text-decoration: inherit;
}

.brand a .brand-logo {
  display: inline-block;
  height: 30.5px;
  width: 209px;
  padding: 11px 4px 8px 12px;
}



nav {
  float: right;
  margin-right: 33px;
  margin-top: 1px;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  padding: 0 13px;
  line-height: 56px;
  color: rgba(255,255,255,0.8700000048);
  text-decoration: none;
}
nav ul li a:hover,
nav ul li a:visited,
nav ul li a:visited:hover {
  color: #ffffff;
}
nav ul li ul li {
  padding: 0px 12px 0px 32px;
  width: 150px;
}
nav ul li ul li a {
  display: block;
  background: transparent;
  color: white;
  padding: 11.5px 0px 11.5px 8px;
  line-height: 19px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  background-color: #1e1e1e;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.55);
  box-shadow: 0 0 10px rgba(0,0,0,0.55);
  border-radius: 2px;
  left: -28px;
  top: 49px;
  overflow-y: auto;
  padding: 8px 0;
  width: 240px;
}

.drop-symbol {
  cursor: pointer;
  display: inline-block;
  outline: none;
  padding-left: 2px;
  margin-right: 2px;
}
.drop-symbol svg {
  margin-top: -2px;
  height: 12px;
  width: 12px;
  -webkit-transform: scale(2);
  transform: scale(2);
  vertical-align: middle;
}

.dropdown:hover .nav-dropdown {
  display: block;
}

.right-most {
  left: -40px;
  width: 222.5781px;
}

/* Mobile navigation box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);*/
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #262626;
  height: 56px;
  width: 56px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 56px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }

  .nav-dropdown {
    position: static;
  }
}
@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}